.label {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ade2f5;
  padding: 10px 0px;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}

.input {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  margin-left: 10px;
}
